.header {
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    margin-left: 10%;
    z-index: 999;
  }
  
  .header h1 {
    color: gray;
    font-size: 20px;
  }
  
  .header .export-btn {
    background-color: #6f42c1; /* Purple color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .header .export-btn:hover {
    background-color: #582a9a;
  }
  