.product-table {
  padding: 20px;
  margin-left: 260px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

th,
td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
}

th {
  background: #f9f9f9;
  color: gray;
  font-weight: bold;
}

button {
  background: #6f42c1; /* Purple */
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

button:hover {
  background: #582a9a;
}
