
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
  z-index: 1000;
  transition: all 0.3s ease;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar .toggle-btn {
  position: absolute;
  top: 15px;
  right: -20px;
  background: #fff;
  cursor: pointer;
  padding: 5px;
  margin-right: 55%;
  font-size: 16px;
  color: gray;
  z-index: 1001;
  transition: transform 0.2s ease;
}

.sidebar .toggle-btn:hover {
 color:#6f42c1;
}



.sidebar .menu-items {
  list-style: none;
  padding: 60px 10px 0;
  margin: 0;
}

.sidebar .menu-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 16px;
  color: gray;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .menu-item:hover {
  color: #6f42c1;
}

.sidebar .menu-item .icon {
  font-size: 24px;
  margin-right: 10px;
}

.sidebar.collapsed .menu-item span {
  display: none;
}

.sidebar.collapsed .menu-item .icon {
  margin-right: 0;
  font-size: 28px;
}

/* Overlay effect */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}
